/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.generator-btn {
  margin-bottom: 50px;
  color: #555 !important;
}

#notice_wrapper {
  width: 100%;
  z-index: 999;
  background: rgba(0, 128, 0, 0.85);
}

#notice_wrapper_alert {
  width: 100%;
  z-index: 999;
  background: #ff7070;
}

#notice_wrapper_info {
  width: 100%;
  z-index: 999;
  background-color: #8397D1;
}

a {
  color: white;
  text-decoration: none !important;
}

.btn-success {
  background-color: #ffdc7e !important;
  border-radius: 0px !important;
  border-color: #555 !important;
  font-weight: bold;
  color: #555;
  font-size: 14px !important;
}

.btn-success:hover {
  color: #555 !important;
}

.btn-success:active {
  color: #555 !important;
}

.btn-success:focus {
  color: #555 !important;
}

.notice {
  padding: 1rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.form {
  margin: 40px;
  padding: 40px;
  background-color: #8397d1;
}

#google_sheet_id {
  border-radius: 0 !important;
  border: none !important;
  border-style: solid !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #555555;
    display: inline-block;
    padding: 6px 12px;
    color: white;
    background-color: #555555;
    cursor: pointer;
}
